__pycache__/
*.py[cod]
.pytest_cache/
.venv/
.env.kaggle

data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/csi/*
!data/csi/.gitkeep

reports/generated/*
!reports/generated/.gitkeep

*.egg-info/
